<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                SGPA
            </a>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" id="dropdownFerramentas" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ferramentas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownFerramentas">
                            <li><a href="/usuarios" class="dropdown-item">Consultar Usuários</a></li>
                            <li><a href="/projetos" class="dropdown-item">Consultar Projetos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-row-reverse bd-highlight">
                <button type="button" class="btn btn-outline-primary my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#modalFade">
                    Acessar conta
                </button>
            </div>
        </div>
    </nav>

    <div id="modalFade" class="modal fade" tabindex="-1" aria-labelledby="title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content card">
                <div class="modal-header card-header">
                    <h3 class="h3 mb-3 font-weight-normal" id="title">Log in</h3>	
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body card-body">
                    <form class="form-signin">
                        <div class="mb-3">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                </div>
                                <input type="email" id="inputEmail" class="form-control" placeholder="Digite seu email" required autofocus>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="sr-only">Senha</label>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                                </div>
                                <input type="password" id="inputPassword" class="form-control" placeholder="Digite sua senha" required>
                            </div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="check-remember" value="remember">
                            <label class="form-check-label" for="check-remember">Lembrar senha</label>
                        </div>
                        
                      </form>
                </div>
                <div class="modal-footer card-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-success btn-block">Entrar</button>
                </div>
            </div>
        </div>
    </div>
</header>