<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                SGPA
            </a>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" id="dropdownFerramentas" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ferramentas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownFerramentas">
                            <li><a href="#" class="dropdown-item">Consultar Funcionários</a></li>
                            <li><a href="/projetos" class="dropdown-item">Consultar Projetos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-row-reverse bd-highlight">
                <button type="button" class="btn btn-outline-primary my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#modalFade">
                    Acessar conta
                </button>
            </div>
        </div>
    </nav>
</header>