body {
    padding-top: 6rem;
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}


.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
}


@media (max-height: 720px) {
    #main {
        min-height: 750px;
    }

    footer {
        position: relative;
    }
}
